.container{
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2px solid #d9d9d9;
    top: 10vh;
    position: sticky;
}
.navbar{
    width: 80%;
    height: 100%;
    display: inherit;
    position: sticky;
}
.navItems{
    /* Dimentions*/
    width: 25%;
    height: 100%;

    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Typography */
    text-decoration: none;
    font-family: inherit;
    font-weight: bolder;
    font-size: .7rem;

    /* Other */
    cursor: pointer;
}
.active{
    border-bottom: 2px solid black;
}