.container{
    width: 100vw;
    min-height: 6vh;
    line-height: 6vh;
    padding: 0 2em;
    background-color: green;
    opacity: .8;
    backdrop-filter: blur(30px);
    position: fixed;
    top: 10vh;
    z-index: 999;
}
.alert{
    color: white;
    font-weight: bolder;
}